body {
  font-family: 'Cardo', serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.2em;
}

/*** Hides divs on initial page load ***/
main > div {
  display: none;
}

a {
  color: darkorange;
  text-decoration: none;
}

a:hover {
  color: dimgray;
  text-decoration: underline;
}