body {
  color: #333;
  background-color: rgb(84, 134, 192);
}

header, footer {
  padding: 1em;
  text-align: center;
  background-color: rgb(44, 51, 57);
  color: rgb(240,240,240);
}

main {
  padding: 1em;
  margin: auto;
  width: 80%;
}

article {
  border: 1px solid rgb(44, 51, 57);
  margin: 5%;
  padding: 3%;
  background-color: 	rgb(240,240,240);
}

a {
  color: #333;
}

a:hover {
  color: darkgray;
}

img {
  max-width: 100%;
}
