header, footer {
  padding: 1em;
  text-align: center;
  clear: right;
}

button {
  float: left;
}

main {
  padding: 1em;
  margin: auto;
  width: 80%;
  overflow: hidden;
}

#content {
  width: 100%;
}

#sidebar {
  display: none;
  width: 0%;
}

#category-filter {
  display: block;
  margin-left: 5%;
  margin-top: 3%;
}

article, #about, #stats, #github, #notFound {
  margin: 5%;
  padding: 3%;
}

h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
}

#profilePic {
  width: 10em;
  border-radius: 5px;
}

#profilePicContainer {
  text-align: center;
}

@media all and (min-width:770px){
  #content {
    width: 80%;
    float: left;
  }

  #category-filter{
    display: none;
  }

  #sidebar {
    display: block;
    width: 20%;
    float: right;
  }

  #profilePicContainer {
    float: right;
    padding: 1%;
  }
}
