header, footer {
  padding: 1em;
  text-align: center;
}

button {
  float: left;
}

main {
  padding: 1em;
  margin: auto;
  width: 80%;
}

#category-filter {
  display: block;
  margin-left: 5%;
  margin-top: 3%;
}

article, #about, #stats {
  margin: 5%;
  padding: 3%;
}

h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
}
