header, footer {
  padding: 1em;
  text-align: center;
  clear: left;
}

button {
  float: left;
}

main {
  padding: 1em;
  margin: auto;
  width: 80%;
  overflow: hidden;
}

#content {
  width: 100%;
  /*float: left;*/
}

#sidebar {
  display: none;
  width: 0%;
  /*float: right;*/
}

#category-filter {
  display: block;
  margin-left: 5%;
  margin-top: 3%;
}

article, #about, #stats {
  margin: 5%;
  padding: 3%;
}

h2 {
  margin-top: 0;
}

img {
  max-width: 100%;
}

@media all and (min-width:770px){
  #content {
    width: 75%;
    float: left;
  }

#category-filter{
  display: none;
}

  #sidebar {
    display: block;
    width: 25%;
    float: right;
  }
}
