.lnr-menu, .lnr-cross {
  font-size: 1.3em;
}

article, #about, #stats {
  border: 1px solid rgb(44, 51, 57);
  border-radius: 5px;
  background-color: 	rgb(240,240,240);
}

.read_more a {
  text-decoration: none;
}
