article, #github, #about {
  border: 1px solid orange;
  background-color: white;
  border-radius: 5px;
}

/***Sidebar category links on larger screens***/
#sidebar ul {
  list-style-type: none;
}

#sidebar a {
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}

#sidebar a[data-category="api"] {
  text-transform: uppercase;
}

/***Drop down category filter for mobile view***/
#category-filter {
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}

/******  Navigation Styles  ******/

  /*** For the showMenu and hideMenu button on mobile ***/
button {
  background-color: darkorange;
  border: 1px solid black;
}

#main-nav {
  display: none; /* Hide the main nav on initial page load for mobile */
  font-family: 'Montserrat', sans-serif;
}

#main-nav ul {
  padding-left: 0;
}

#main-nav ul a {
  letter-spacing: 0.07em;
}

#main-nav ul li {
  font-size: 1.3em;
  list-style-type: none;
  padding: 2%;
}

#hideMenu {
  display: none;
}

/***  Media queries for nav on desktop screens ***/
@media all and (min-width: 770px) {
  #showMenu, #hideMenu {
    display: none;
  }

  #main-nav {
    display: block;
  }

  #main-nav ul li {
    display: inline-block;
    border: none;
    padding: 0.7%;
  }

}

/*** Sticky footer on larger screens ***/
html {
  position: relative;
  min-height: 100%;
}
body {
  margin: 0 0 60px;
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
}

/*** Github Page Repo List styles ***/
#repoList {
  list-style-type: none;
}

#repoList a {
  text-transform: capitalize;
  font-size: 1.2em;
}
