article, #about {
  border: 1px solid rgb(44, 51, 57);
  border-radius: 5px;
  background-color: 	rgb(240,240,240);
}

.read_more a {
  text-decoration: none;
}

/******  Navigation Styles  ******/

  /*** For the Hamburger and X icon ***/
button {
  background-color: rgb(0,0,0);
  border: none;
}

#main-nav {
  background-color: rgb(240,240,240);
  display: none; /* Hide the main nav on initial page load for mobile */
  font-family: 'PT Sans', sans-serif;
}

#main-nav ul {
  padding-left: 0;
}

#main-nav ul a {
  text-decoration: none;
  letter-spacing: 0.07em;
}

#main-nav ul li {
  font-size: 1.2em;
  border-bottom: 1px solid rgb(44, 51, 57);
  list-style-type: none;
  padding: 2%;
}

/***  Media queries for nav on desktop screens ***/
@media (min-width: 770px) {
  #hamburger, #cross {
    display: none;
  }

  #main-nav {
    display: block;
    background-color: rgb(44, 51, 57);
  }

  #main-nav ul li {
    display: inline-block;
    border: none;
    padding: 0.7%;
  }

  #main-nav ul li a {
    color: rgb(240, 240, 240);
  }
}
/***   End of top nav styles ***/
