/*** Changes the cursor from an arrow to a hand when hovering over one ***/
a {
  cursor: pointer;
}
/*** Underlines the active tab ***/
.active {
  /*text-decoration: underline !important;*/
  color: #808080 !important;
}

.active-sidebar {
  color: rgb(240,240,240) !important;
}

/*** Underline for read more links on hover ***/
.read_more {
  position: relative;
}

.read_more:before {
  content: "";
  position: absolute;
  width: 12%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #808080;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.read_more:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/***  Tool tip for blog dates on hover ***/
time {
  cursor: help;
  position: relative;
}

time::before, time::after {
  position: absolute;
  left: 50%;
  opacity: 0;
  z-index: -100;
}

time:hover::before,
time:focus::before,
time:hover::after,
time:focus::after {
  opacity: 1;
  z-index: 100;
}

time::before {
  border-style: solid;
  border-width: 1em .75em 0 .75em;
  border-color: rgb(44, 51, 57) transparent transparent transparent;
  bottom: 100%;
  margin-left: -.5em;
  content: "";
}

time::after {
  background: rgb(44, 51, 57);
  border-radius: .25em;
  bottom: 180%;
  color: rgb(240,240,240);
  width: 15em;
  padding: 1em;
  margin-left: -8.75em;
  text-align: center;
  content: attr(data-tip);
}
