/*** Changes the cursor from an arrow to a hand when hovering over one ***/
a {
  cursor: pointer;
}
/*** Underlines the active tab ***/
.active {
  text-decoration: underline !important;
  /***color: #808080 !important;***/
}
